/*@palabras reservadas*/


/*transcion de colores*/
@keyframes animacion_test{
    from{
        background-color: red;
    }
    to{
        background-color: yellow;
    }
}

@keyframes girar{
    from{
        transform: rotate(0deg);
    }

    to{
        transform: rotate(360deg);
    }

}

@keyframes label-animation{
    from{
        transform: rotate(0deg);
        margin-left:0 ;
        

    }
}